.film-view {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
}
.film-poster {
    margin-bottom: 20px;
}
.user-avatar-block {
    text-align: center;
}
.user-img-avatar {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}
.header-film h1 {
    text-transform: uppercase;
    font-weight: bold;
    color: #F0F0F0;
}
.header-film h4 {
    position: absolute;
    right: 0;
    top: 3px;
    font-weight: bold;
    color: #55E2CD;
}
.header-film h6 {
    font-weight: bold;
    color: #55E2CD;
}
.plot {
    color: #F0F0F0;
}
.second-info {
    color: #F0F0F0;
}
.second-info span{
    font-weight: bold;
    color: #C6C6C6;
}
.list-group-item {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}
.done {
    margin-left: 10px;
}
.sid {
    margin-left: 10px;
    color: #FC72A8;
}
.pid {
    margin-left: 10px;
    color: #72B7FC;
}
.play {
    font-weight: bold;
    color: #C6C6C6;
    margin-top: 10px;
    margin-bottom: 10px;
}
.ready {
    color: #55E2CD;
}
.torrent-list p {
    color: #CEFFF1;
    font-weight: bold;
}
#progress {
    width: 100%;
    background-color: #ddd;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 7px;
}
.download-info {
    color: #55E2CD;
    font-weight: bold;
    font-size: 18px;   
}
#bar {
    width: 20%;
    height: 30px;
    background-color: #55E2CD;
    border-radius: 7px;
}

@media screen and (max-width: 991px) {
    .plot, .second-info, .second-info span {
        font-size: 14px;
    }
}
.btn-film-view {
    font-size: 18px;
    position: absolute;
    left: 10px;
    top: 10px;
    color: #55E2CD;
    font-weight: bold;
}
.btn-film-view:hover {
    text-decoration: none;
    color: #55E2CD;
}

/*--------------------------*/



.comment-list {
    width: 100%;
    margin: 10px;
    padding: 10px;
}
.comment-item {
    margin: 10px;
    padding: 10px;
    border-bottom: 3px solid #CEFFF1;
}
.user-info {
    text-align: center;
    color: #F0F0F0;
}
.user-info h1 {
    font-size: 1rem;
    margin-top: 10px;
}
.user-info img {
    width: 45%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}
.user-comment {
    color: #F0F0F0;
    margin-top: 15px;
    font-size: 1.2rem;
}
.comment-date h4{
    text-align: center;
    color: #F0F0F0;
    font-size: .8rem;
    margin-top: 25px;
}
.nav, .nav-tabs {
    border: none !important;
}
.nav-tabs .nav-item {
    margin-bottom: 10px !important;
    margin-left: 10px;
}
.nav-item, .nav-link {
    border: none;
    border-radius: 4px;
    color: #55E2CD;
    font-weight: bold;
    letter-spacing: 1.2px;
}
.nav-item:hover, .nav-link:hover {
    border: none;
    color: #464a4c !important;
    font-weight: bold;
    letter-spacing: 1.2px;
    background-color: #55E2CD !important;
}
.nav-item .active {
    color: #464a4c !important;
    font-weight: bold;
    letter-spacing: 1.2px;
    background-color: #55E2CD !important;
    border: none !important;
}
#add {
    margin: 10px;
    padding: 10px;
}
.user-comment p {
    word-wrap: break-word;
}
.comment-form textarea, .comment-form button{
    display: block;
}
.comment-form textarea {
    width: 80%;
    border-radius: 7px;
    background-color: #434343;
    color: #F0F0F0;
    padding: 10px;
}
.comment-form textarea:focus {
    border: none;
    outline-color: #55E2CD;
}
.comment-form button {
    width: 80%;
    margin-top: 20px;
    cursor: pointer;
}
