body{
	margin:0;
	color:#6a6f8c;
	/*background:#434343 !important;*/
	background-image: url("http://mtdata.ru/u24/photoC983/20691484585-0/original.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	font:600 16px/18px 'Open Sans',sans-serif;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}
.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .tab:hover{
	cursor: pointer;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
	font-weight: bold;
}

.login-form .group .button:hover{
	cursor: pointer;
	background-color: #27C1AA;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#55E2CD;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:5px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	transition: background-color 0.5s ease;
	background-color: #55E2CD;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}
.btn-info img {
	width: 15px;
	height: 15px;
}
.modal-body .group{
	display: block;
	margin-bottom: 10px;
}
.modal-content {
	background:#434343 !important;
}
.modal-body label{
	display: block;
	color: #aaa;
    font-size: 12px;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: .5rem;
}
#modal-label{
	text-transform: uppercase;
	font-weight: bold;
}
.modal-body input{
	border: none;
	width: 100%;
    color: #fff;
    padding: 15px 20px;
    border-radius: 5px;
    background: rgba(255,255,255,.1);
}
.modal-footer button{
	font-weight: bold;
	padding:12px 20px;
}
.modal-footer button:hover{
	cursor: pointer;
}
.group .btn {
	padding:15px 20px;
	margin-top: 10px;
	width: 100%;
	font-weight: bold;
}
.group .btn:hover {
	cursor: pointer;
}
.group h5{
	font-weight: bold;
	text-align: center;
	margin-top: 30px;
}
.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}
.foot-lnk label:hover{
	cursor: pointer;
}
.foot-lnk .btn {
	padding:15px 20px;
	margin-top: 10px;
	font-weight: bold;
	width: 100%;
}
.foot-lnk .btn:hover {
	cursor: pointer;
}
.btn-edit {
	text-align: center;
}
.label {
	text-align: left;
}
.close {
	margin-top: -8px;
}
